
*{
    a{
        text-decoration: none;
    }
    font-family:"Poppins",system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background-color: #FDF0F0;
    
    a:hover{
        text-decoration: underline;
    }
}

.Destination
{
    width: 100%;
    height: 2636px;
}

/* Nav bar */

nav{
    width: 1376px;
    height: 85px;
    background-color: #FCFAFA;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;

    hr{
        width: 0px;
        height: 80px;
        position: relative;
        left: 20px;
    }

}

/* logo part */

.logo{
    width: 200px;
    height: 60px;
    position: relative;
    left: 5px;
    top: -5px;
    display: flex;


    span{
        display: flex;
        width: 40px;
        height: 40px;
        background: #071597;
        border-radius: 110px;
        position: relative;
        left: 77px;
        top: 10px;
    
    }

    h1{
        position: relative;
        left: 96px;
        top: 1px;
        font-size: 18px;
    }

}

/* home part */

.home{
    width: 700px;
    height: 60px;
    display: flex;
    gap: 32px;
    position: relative;
    left: 81px;
    top: 12px;
    color: #676262;
    text-align: center;

}

.home>:first-child{
    width: 200px;
    height: 60px;
}
.home>:nth-child(2){
    width: 200px;
    height: 60px;
}
.home>:nth-child(3){
    width: 200px;
    height: 60px;
    color: #071597;
}
.home>:nth-child(4){
    width: 200px;
    height: 60px;
}
/* Login part */
.login{
    position: relative;
    left: -45px;
    top: -7px;
    display: flex;
    gap: 25px;
    text-align: center;

}

.login>:first-child{
    width: 143px;
    height: 45px;
    background-color: white;
    font-size: 20px;
    border-radius: 12px;
    border-color: white;
    border-style: solid;
    h1{
        font-size: 14px;

    }
}
.login>:nth-child(2){
    width: 143px;
    height: 45px;
    background-color: #071597;
    font-size: 20px;
    border-radius: 12px;
    border-color: #071597;
    border-style: solid;
    color: white;
    h1{
        font-size: 14px;

    }
}


/* main part */

#background{
    width: 101%;
    height: 684px;
}
#main{
 text-align: -webkit-center;
display: flex;
color: white;

    span{
        position: relative;
        right: 1063px;
        top: 140px;
    }
    h1{
        width: 641px;
        height: 65px;
        
        font-size: 54px;
    }
    p{
        width: 726px;
        height: 136px;
        font-size: 24px;
    }
}
.ltp{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 1080px;
    height: 157px;
    position: relative;
    top: 86px;
    left: 121px;
    background-color: white;
    border-radius: 15px;

    h1{
        position: relative;
        top: -18px;
        color: #676262;
    }
    p{
        position: relative;
        top: -21px;
        left: 2px;
    }

    img{
        width: 50px;
        height: 40px;
        position: relative;
        top: 40px;
        left: -75px;
    }
}

.informtion{
    display: flex;
    width: 924px;
    height: 62px;
    position: relative;
    top: 185px;
    left: 185px;
    justify-content: space-between;
    h1{
        position: relative;
        top: -6px;
    }
}

.informtion>:first-child{
    /* background-color: #071597; */
    width: 238px;
    height: 62px;
    color: white;
    border-radius: 18px;
    border-style: none;
    text-align: center;
    font-size: 15px;

    h1{
        position: relative;
        top: -2px;
    }
    
}

.informtion>:nth-child(2){
    border-radius: 18px;
    border-style: solid;
    width: 207px;
    text-align: center;
    border-radius: 18px;
    color: #071597;
    border-color: gray;

}
.informtion>:nth-child(3){
    border-radius: 18px;
    border-style: solid;
    width: 207px;
    text-align: center;
    border-radius: 18px;
    color: #071597;
    border-color: gray;

}
.informtion>:nth-child(4){
    border-radius: 18px;
    border-style: solid;
    width: 207px;
    text-align: center;
    border-radius: 18px;
    color: #071597;
    border-color: gray;

}
/* .card:hover{
    background-color:  #071597 ;
    border-color: #071597;
    color: white;
    border-width: 5px;
} */

.overview{
    width: 787px;
    width: 787px;
    position: relative;
    top: 260px;
    left: 112px;
    display: flex;
    

    input{
        width: 349px;
        height: 216px;
        background-color:#FDF0F0 ;
        border-radius: 7px;
        border-color: #FDF0F0;
         color:#676262 ;
         position: relative;
         top: -60px;
     
    }

    


    h1{
        position: relative;
        top: 5px;
        left: 2px;
        font-size: 41px;
    }
    p{
        width: 700px;
        color: #676262;
        font-size: 24px;

        button{
            background-color:#FDF0F0 ;
            border-color: #FDF0F0;
            border-radius: 34px;
            color:#071597 ;
        }
    }
}

#btns0{
    width: 211px;
    left: -2px;
    height: 59px;
    position: relative;
    top: -16px;
    text-align: center;
    border-radius: 18px;
    color: white;
    border-color: gray;
    background-color: #071597;
    border-style: none;
    font-size: 20px;
}


#btn2{
    width: 211px;
    left: -2px;
    height: 59px;
    position: relative;
    top: -16px;
    text-align: center;
    border-radius: 18px;
    color: #071597;
    border-color: gray;
    background-color: #FDF0F0;
    border-style: none;
    font-size: 20px;
}
#btn3{
    width: 211px;
    left: -2px;
    height: 59px;
    position: relative;
    top: -16px;
    text-align: center;
    border-radius: 18px;
    color: #071597;
    border-color: gray;
    background-color: #FDF0F0;
    border-style: none;
    font-size: 20px;
}
#btn4{
    width: 211px;
    left: -2px;
    height: 59px;
    position: relative;
    top: -16px;
    text-align: center;
    border-radius: 18px;
    color: #071597;
    border-color: gray;
    background-color: #FDF0F0;
    border-style: none;
    font-size: 20px;
}

/* #btn0:hover{
background-color: black;
color: white;
} */
#btn2:hover{
background-color: #071597;
color: white;
}
#btn3:hover{
background-color: #071597;
color: white;
}
#btn4:hover{
background-color: #071597;
color: white;
}

#linp{
    width: 346px;
    height: 620px;
    position: relative;
    top: -44px;
}

.overview>:nth-child(2){
    width: 430px;
    height: 878px;
    gap: 26px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 2px 2px 32px;

    position: relative;
    left: 67px;
    top: 130px;

    h1{
        position: relative;
        top: -24px;
        left: 0;
        font-size: 26px;
    }

}

#book{
    width: 371px;
    height: 255px;
    border-radius: 12px;
    background-color: #071597;
    border-color: #071597;
    border-style: solid;
    color: white;
    position: relative;
    left: 5px;
    top: -30px;
}



#do{
    position: relative;
    top: 300px;
    left: 34px;
    font-size: 33px;
    height: 50px;
    width: 500px;
}


.feedback{
    width: 571px;
    height: 349px;
    background-color: #FDF0F0;
    position: relative;
    left: 391px;
    top: 282px;
    display: flex;
    gap: 21px;
    border-radius: 12px;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
    img{
        width: 294px;
        height: 292px;
        position: relative;
    }

    span{
        display: flex;

        width: 50px;
        height: 50px;
        background-color: white;
        border-radius: 30px;
        border-style: none;
        position: relative;
        top: 21px;
        left: -61px;
    }

    h1{
        font-size: 18px;
        position: relative;
        top: -28px;
        height: 0px;
    }
    h2{
        font-size: 18px;
        color: gray;
        height: 0px;
        position: relative;
        top: -27px;
    }
    p{
        width: 378px;

        color: gray;
        font-size: 18px;
        position: relative;
        top: 0;
        left: -51px;
        font-weight: 400px;
    }
    i{
        color: yellow;
    }
}

.feedback>:first-child{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 37px;
    left: 84px;

}
.feedback>:nth-child(2)>:first-child{
    display: flex;
    position: relative;
    top: 24px;
    left: -3px;
}
.feedback>:nth-child(2){
    display: grid;
}

#what{
    position: relative;
    top: -63px;
    left: 541px;
    font-size: 34px;
    width: 374px;

}

.icon{
    
display: flex;
gap: 10px;
}







footer{
    width: 100%;
    height: 368px;
    background-color: #DAA520;
    position: relative;
    top: 209px;
    display: flex;

    span{
        display: inline-flex;
        width: 41px;
        height: 41px;
        background: white;
        border-radius: 20px;
        border-style: none;
        position: relative;
        top: 13px;
        left: -8px;
    }



}

footer>:first-child{
    height: 306px;
    display: flex;
    position: relative;
    left: 170px;
    top: 61px;
    font-size: 20px;
    color: white;
    gap: 143px;

    p{
        font-weight: bold;
        font-size: 22px;
    }


    a{
        color: white;
    }
}

#logo2{
    font-size: 18px;
    height: 253px;
    position: relative;
    left: -64px;

    p{
        width: 310px;
        height: 110px;
        font-size: 16px;
        position: relative;
        top: 40px;
        left: -7px;
    }
}
#Company{   
     height: 253px;
     position: relative;
     left: -124px;
    display: flex;
    flex-direction: column;
    gap: 36px;
}
#Links{
    height: 253px;
    position: relative;
    left: -124px;
    display: flex;
    flex-direction: column;
    gap: 36px;
}
#Follow{
    height: 253px;
    position: relative;
    left: -124px;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

#Follow>:nth-child(2){
    display: flex;
    gap: 11px;
    i{
        color: red;

    }
}
#Follow>:nth-child(3){
    display: flex;
    gap: 11px;
    i{
        color: blue;

    }}
#Follow>:nth-child(4){
    display: flex;
    gap: 11px;
    i{
        color: blue;

    }
}
#Follow>:nth-child(5){
    display: flex;
    gap: 11px;
    i{
        color: rgb(255, 0, 153);

    }
}



#imgo{
    width:300px; height:290px;
}

#caard>:first-child{
    position: relative;
    left: 42px;
    top: -23px;

}
#caard>:nth-child(2){
    position: relative;
    left: 42px;
    top: -57px;

}
#caard>:nth-child(3){
    position: relative;
    left: 42px;
    top: -70px;

}
#caard>:nth-child(4){
    position: relative;
    left: 42px;
    top: -96px;

}


.flex{
    display: flex;
    position: relative;
    left: 40px;
}

/* .flex>:nth-child(2){
    position: relative;
    left: -215px;
} */

.two{
    position: relative;
    left: -167px;
}

.there{
    position: relative;
    left: -10px;
}